* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {text-align: center;}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff1bca;
    font-size: 40px;
    background-color: white;
}

.header-container {
    background-color: white;
    text-align: center;
    padding: 10px 0;
    width: 100vw;
    box-sizing: border-box;
    margin: 0;
    min-height: 200px;
}

.header-container .logo {
    display: block;
    max-width: 300px;
    margin: 0 auto 20px auto;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    color: #ffe142;
    font-size: 40px;
    margin: 0;
}

h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #ad29ff;
}

ul li {
    float: left;
}


ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ff88c8;
}

.description {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.link-text {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

li {
  font-size: 21px;
  text-align: left;
  padding-left: 10px;
}

figcaption {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

body {
   background-color: #ad29ff;
   margin: 0;
   overflow-x: hidden;
}

.thisone {
    height: -500px;
    box-shadow: 0 4px 8px 0 rgba(21, 8, 97, 0.548);
    margin-left: 360px;
    margin-right:360px;
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    align-self: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: rgb(24, 13, 77);
    border-radius: 0.3rem;
}

.thatone{
    padding: 30px;
    margin-left: 360px;
    margin-right: 360px;
    text-align: center;
    background-color: white;
    align-self: center;
    margin-top: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: 0.3rem;
}

h2 {
    text-align: center;
    text-shadow: grey;
}
         
p {
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: left;
}

.button {
  align-items: center;
  border: none;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #ad29ff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 20px 40px;
  width: 300px;
  cursor: pointer;
}

.button:hover {
    background-color: #9121d7;
    transform: scale(1.05);
    transition: 0.2s ease;
}

@media screen and (max-width: 599px) {
    .thisone {
        margin-left: 10px;
        margin-right:10px;
        padding: 16px;
        width: auto;
    }

    .thatone {
        width: 100%;
        font-size: 20px;
        margin: 10px 0;
        padding: 12px 20px;
    }

    .button {
        width: 100%;
        font-size: 20px;
        margin: 10px 0;
        padding: 12px 20px;
    }

    .header-container .logo {
        max-width: 200px;
        margin-bottom: 10px;
    }
    
    .quote {
        font-size: 28px;
    }
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    .thisone {
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
        width: auto;
    }

    .thatone {
        margin-left: 40px;
        margin-right: 40px;
        padding: 20px;
        width: auto;
    }

    .button {
        width: 80%;
        font-size: 22px;
        margin: 15px 0;
        padding: 14px 28px;
    }

    .header-container .logo {
        max-width: 250px;
        margin-bottom: 15px;
    }

    .quote {
        font-size: 32px;
    }
}

@media screen and (min-width: 1025px) {
    .thisone {
        margin-left: 360px;
        margin-right: 360px;
        width: auto;
        padding: 16px;
    }

    .thatone {
        margin-left: 360px;
        margin-right: 360px;
        width: auto;
        padding: 16px;
    }

    .button {
        width: 300px;
        font-size: 25px;
        margin: 20px 40px;
        padding: 15px 32px;
    }

    .header-container .logo {
        max-width: 300px;
        margin-bottom: 20px;
    }

    .quote {
        font-size: 40px;
    }
}