* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.quote {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;

    font-style: oblique;
    font-weight: bold;
    color: #ac04df
}

h1{text-align: center;}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ff1bca;
    font-size: 40px;
}

h5 {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 50;
    overflow: hidden;
    background-color: #efcc1d;
}

ul li {
    float: left;
}


ul li a {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

ul li a:hover {
    background-color: #ffdf3c;
}

.description {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

.link-text {
    font-size: 20px;
    font-family:Arial, Helvetica, sans-serif;
}

li {
  font-size: 21px;
  text-align: left;
  padding-left: 10px;
}

figcaption {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.thisone {
    height: -500px;
    box-shadow: 0 4px 8px 0 rgba(21, 8, 97, 0.548);
    margin-left: 360px;
    margin-right:360px;
    padding: 16px;
    text-align: center;
    background-color: #ffffff;
    align-self: auto;
    margin-top: 50px;
    border-style: solid;
    border-width: 6px 6px 6px 6px;
    border-color: rgb(24, 13, 77);
    border-radius: 0.3rem;
}

.thatone{
    height: 200px;
    margin-left: 360px;
    margin-right: 360px;
    text-align: center;
    background-color: white;
    align-self: center;
    margin-top: 100px;
    border-style: solid;
    border-width: 10px;
    border-color: black;
    border-radius: O.3rem;
}

h2{
    text-align: center;
    text-shadow: grey;
}
         
p {
    padding: 5px;
    font-family:Arial, Helvetica, sans-serif;
    font-size:20px;
    text-align: left;
}

button {
    font-size: 20px;
}