
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffcc00;
    font-size: 40px;
}

h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: #ffcc00;
    font-size: 40px;
}

h3 {
    color: white;
    font-family:Arial, Helvetica, sans-serif;
    text-shadow: 2px 2px #ffbf00;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: #ffbf00;
}

ul li {
  float: left;
  list-style-type: none;
}

ul li a {
  display: block;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: white;
  text-align: center;
  padding: 20px;
  text-decoration: none;
}

ul li a:hover {
    background-color:#ffcc00;
}

.logo {
    margin: 0;
    padding: 0;
    width: 100%;
}

.quote {
    padding: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
   
    font-style: oblique;
    font-weight: bold;
    color: #ffe142
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* Float four columns side by side */
.column {
  float: left;
  width: 20%;
  padding: 0 20px;
}

/* Remove extra left and right margins, due to padding */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and(max-width: 600px) {
  .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
  }
}


.column img {
    height: auto;
    width: 100%;
    border: 5px solid #ffffff;
    max-width: 160px;
    margin: 0 auto;
    display: block;
}

.center {
  float: 0 auto;
  width: 100%;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 4px 8px 0 rgba(97, 95, 8, 0.548);
  padding: 16px;
  text-align: center;
  background-color: #fffa74;
}

.thisone {
  box-shadow: 0 4px 8px 0 rgba(97, 97, 8, 0.548);
  margin: 40px auto; /* Use auto to center, and reduce top spacing */
  max-width: 600px;
  text-align: center;
  background-color: #ffffff;
  border: 10px solid rgb(255, 234, 0);
  border-radius: 0.3rem;
  padding: 20px;
}

.button-container {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  align-items: center;
  border: none;
  color: white;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;
  background-color: #ffbf00;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 20px 40px;
  width: 300px;
  cursor: pointer;
}
